<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="error">
    <h1>Error</h1>
    <p><%= mensaje %></p>
    <a href="/">Volver al login</a>
  </div>
</body>
</html>
